BondDataService/BondDataApi/Service References/BondDataService/BondData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BondDataService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BondDataService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BondData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BondData" nillable="true" type="tns:BondData" />
</xs:schema>